<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%include ../partials/head.ejs %>
    <% include ../partials/navbar.ejs %>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Thank you for submmitting information</h1>
    </div>
  </body>
</html>
