<div class="container-fluid">
  <div class="row" id="topbar">
    <div class="col-sm-3 col-md-3">
      Hours 10am - 5pm
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">

    </div>
    <div class="col-sm-3 col-md-3">
      Telephone: 02089601876
    </div>
  </div>

</div>



<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-inverse bg-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar navbar-nav">
          <!-- <li><a  href="#" class="pull-left"> <img src="img/logo.gif" alt="logo" style=" max-height: 40px; max-width: 40px;"></a></li> -->
          <li class="active"><a href="/"> Home <span class="sr-only">(current)</span> </a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
          <li id="right"><a href="/login">Log in</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
