<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <% include ../partials/head %>
      <% include ../partials/navbar %>
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      You have succesfully logged in.
    </div>


  </body>
</html>
