<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <% include ../partials/head %>
  <% include ../partials/navbar %>

</head>

<body id="home-page">

  <div class="jumbotron text-center" style="background: transparent">
    <h1>J&W Mobile Wielding</h1>
  </div>

</body>

</html>
